<% set_meta_tags title: t(".title"), description: "このページでは、サービスに関するご質問やサポート、改善が必要な場合のために、簡単にお問い合わせいただけるフォームをご用意しています。あなたのご意見やご要望をお聞かせください" %>

<div class="container mx-auto flex justify-center mb-6">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd3A0ScJ1Nk1hSXGO4Ip7ZgcnUMXEndO03rs_mu14dODcZAeA/viewform?usp=header" width="640" height="966" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
