<% content_for(:title, t(".title")) %>

<div class="container mx-auto py-8">
  <!-- タイトル -->
  <h1 class="text-center mx-8 md:mx-24 mb-12 pb-2 text-2xl sm:text-3xl border-b-2 border-violet-800">
    アプリについて
  </h1>

  <!-- 本文 -->
  <section class="mx-8 md:mx-20 mb-8 text-sm sm:text-base leading-relaxed text-gray-700">
    <div class="text-center">
      <p>本アプリはレゾナンスにおける都市ごとの商品情報を検索/更新できるアプリです。</p>
      <p class="my-4">しかし、ユーザーに商品の情報を更新してもらえないと成立しない、とてもアナログなアプリです。<br />（ゲームから自動で情報を取得するなどの仕様ではありませんm(__)m）</p>
    </div>

    <h2 class="mt-14 text-center text-xl sm:text-2xl font-semibold">使い方（仕様）</h2>
    <p class="mt-4 text-center">使い方はシンプルですがざっくりと解説します。</p>

    <h3 class="mt-8 mb-2 text-base sm:text-xl font-semibold">「検索」</h3>
    <p>検索するには 都市名・商品名 の どちらか または 両方 を指定する必要があります。<br />(入力・選択していただくと自動で検索します)</p>
    <p class="my-4">価格率と動向で絞り込みが可能です。<br />(価格率は80-150%の間で絞り込みが可能です)</p>
    <p>並び替え（ソート）は、「更新の新しい順」「価格率の高い順」「五十音順」の３つから選択可能です。</p>

    <h3 class="mt-8 mb-2 text-base sm:text-xl font-semibold">「更新」</h3>
    <div class="mb-4 space-y-2">
      <p>① まず画面右上に常時表示されている「更新する」をクリックします。</p>
      <p>② 表示されたモーダルで更新したい商品の「都市」を選択して下さい。</p>
      <p>③ 次に遷移した画面で更新したい「商品名」を入力して「＋」ボタンで追加して下さい。（一度の更新で５つまで追加可能です。）</p>
      <p>④ 指定した商品名が正しければ、該当の商品の情報が表示されるので、情報を書き換えて「更新」をクリックして下さい。</p>
      <p>⑤ 最後に更新内容を確認するモーダルが表示されるので、問題がなければ「確定して更新」をクリックして完了です。</p>
    </div>

    <h2 class="mt-14 mb-4 text-xl sm:text-2xl font-semibold">最後に</h2>
    <p>ゲーム序盤、この都市に行くならどの商品が高いのか、この商品を売るならどの都市が高いのかということを知りたいと思ったことがあったので作りました。</p>
    <p class="my-4">正直、情報の更新がユーザー頼りなうえに、現在矯正センターもある中で需要は非常に薄いということはわかります。</p>
    <p>ただ管理者も頻繁に更新するようにしますので、使ってもらえたら嬉しいです！</p>
    <p class="my-4">またゲーム「レゾナンス」様に、不都合などありましたら即刻閉鎖対応します。</p>

    <p>お問い合わせは <%= link_to t("footer.links.contact"), contact_path, class: "border-b-2 text-purple-400 hover:text-black" %> よりお願いいたします。</p>
  </section>
</div>
