<% if object.errors.any? %>
<div class="mt-1 text-xs md:text-sm text-red-500">
  <ul>
    <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
