<div class="flex p-1 justify-end bg-purple-950 text-xs text-white">
  <%= link_to t("footer.links.privacy_policy"), privacy_policy_path %>
  <%= link_to t("footer.links.terms_of_service"), terms_of_service_path, class: "mx-4" %>
  <%= link_to t("footer.links.contact"), contact_path, class: "mr-6 sm:mr-10" %>
</div>
