<div class="flex items-center justify-between w-full h-16 text-white bg-purple-950">

  <div class="pl-3">
    <%= link_to root_path do %>
    Resonance-MKT
    <% end %>
  </div>

  <div class="pr-3">
    <%= link_to t("header.links.city_select"), select_city_prices_path, class: "cursor-pointer", data: { turbo_frame: "modal" } %>
  </div>

</div>
