<div class="flex items-center justify-between w-full h-16 text-white bg-violet-950">

  <div class="flex items-center pl-3 text-lg">
    <%= link_to t("header.links.root"), root_path, class: "mr-8 font-thin" %>
    <%= link_to tutorial_path do %>
    <div class="flex items-center justify-center w-4 h-4 border rounded-full cursor-pointer group relative">
      <p class="text-xs">!</p>
      <!-- ツールチップ -->
      <div class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 w-max px-2 py-1 text-xs text-black bg-white border rounded shadow-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        ヘルプ
      </div>
    </div>
    <% end %>
  </div>

  <div class="pr-6">
    <%= link_to t("header.links.city_select"), select_city_prices_path, class: "text-sm cursor-pointer", data: { turbo_frame: "modal" } %>
  </div>

</div>
