<turbo-frame id="interested_<%= price.id %>">
  <% if price.interests.exists? %>
  <p class="pb-0.5 pr-1">
    <i class="fa-solid fa-flag text-xs text-violet-800"></i>
  </p>
  <% else %>
  <%= button_to price_interests_path(price), method: :post, data: { disable_with: '<i class="fa-regular fa-flag pb-2 pr-1 text-xs"></i>' } do %>
  <i class="fa-regular fa-flag pb-2 pr-1 text-xs"></i>
  <% end %>
  <% end %>
</turbo-frame>
