<p>どの都市の商品を更新しますか？</p>

<%= form_with url: edit_by_city_prices_path, method: :post, local: true, data: { turbo: false } do |form| %>

<div class="text-center my-8">
  <%= form.collection_select :city_id, @cities, :id, :name, { prompt: "選択してください", required: true }, { class: "py-1 px-2 border rounded" } %>
</div>

<div class="text-center">
  <%= form.submit t("helpers.submit.next"), class: "text-white px-2 py-1 bg-purple-700 rounded cursor-pointer hover:bg-gray-500 transition duration-300" %>
</div>

<% end %>
