<% content_for(:title, t(".title")) %>

<div class="flex items-center justify-center">
  <div class="w-11/12">
    <!-- app/views/prices/_search.html.erb -->
    <%= render "search" %>
    <!-- app/views/prices/_table.html.erb -->
    <%= render "table" %>
  </div>
</div>
