<% set_meta_tags title: t(".title"), description: "望みの商品価格と動向を提示して最適な選択をサポートします。" %>

<div class="flex items-center justify-center">
  <div class="w-11/12">
    <!-- app/views/prices/_search.html.erb -->
    <%= render "search" %>
    <p class="text-center mt-4 mb-2 text-xs text-rose-400">※動向や価格率をクリックすることで簡易に更新できます。</p>
    <!-- app/views/prices/_table.html.erb -->
    <%= render "table" %>
  </div>
</div>
