<h1 class="pl-4 mb-6 text-3xl">Items</h1>

<%= form_with url: import_items_path, local: true, multipart: true do |form| %>
  <div>
    <%= form.file_field :file %>
  </div>
  <div class="my-6">
    <%= form.submit t("helpers.submit.import"), class: "w-1/5 md:w-1/6 rounded-full border border-slate-600 bg-slate-700 text-white font-normal cursor-pointer hover:text-black hover:bg-white hover:shadow-md transition duration-200" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% if @items.present? %>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="1">データがありません</td>
    </tr>
    <% end %>
  </tbody>
</table>
