<h1 class="pl-4 mb-6 text-3xl">Cities</h1>

<%= form_with url: import_cities_path, local: false, multipart: true do |form| %>
<div>
  <%= form.file_field :file %>
</div>
<div class="my-6">
  <%= form.submit t("helpers.submit.import"), class: "rounded-full border border-slate-600 bg-slate-700 text-white font-thin cursor-pointer hover:text-black hover:bg-white hover:shadow-md transition duration-200" %>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th>都市名</th>
    </tr>
  </thead>
  <tbody>
    <% if @cities.present? %>
    <% @cities.each do |city| %>
    <tr>
      <td><%= city.name %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="1">データがありません</td>
    </tr>
    <% end %>
  </tbody>
</table>
