<% set_meta_tags(
    title: t(".title"),
    description: "このページはパスワードで保護されており、認証が必要です。",
    # 検索エンジンにインデックスされないように設定
    robots: "noindex, nofollow"
) %>

<h1 class="flex justify-center mx-20 mb-4 text-3xl border-b">Cities</h1>

<%= form_with url: import_cities_path, local: false, multipart: true, data: { controller: "file-input" } do |form| %>
<div class="flex items-center justify-center mb-2">
  <label>
    <span class="ml-4 py-1 px-2 text-purple-400 text-sm font-thin bg-transparent cursor-pointer border border-purple-400 rounded hover:bg-gray-200 hover:text-gray-400 hover:border-transparent">
      ファイルを選択
    </span>
    <%= form.file_field :file, class: "hidden", data: { action: "change->file-input#update", file_input_target: "input" } %>
  </label>
  <p data-file-input-target="filename" class="ml-2 text-sm text-gray-500">ファイルが選択されていません</p>
</div>
<div class="flex justify-center mb-6">
  <%= form.submit t("helpers.submit.import"), class: "w-1/5 md:w-1/6 rounded-full border border-slate-600 bg-slate-700 text-white font-normal cursor-pointer hover:text-black hover:bg-white hover:shadow-md transition duration-200" %>
</div>
<% end %>

<div class="flex justify-center w-full mb-4">
  <div class="border">
    <% if @cities.present? %>
    <% @cities.each do |city| %>
    <p class="flex border-b p-1 justify-center"><%= city.name %></p>
    </tr>
    <% end %>
    <% else %>
    <p colspan="1">データがありません</p>
    <% end %>
  </div>
</div>
